*{
    padding: 0px;
    margin: 0px;
}

.vidhome{
    width: 95%;
    height: 350px;
    object-fit: cover;
    z-index: -100;
   
}
.mainHomeVideo {
margin-top: 20px;
text-align: center;


}
.ovar{
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 25px;
    width: 30%;
    height: 250px;
    margin-left: 90px;
    
  
   
   
}  
